<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="{{ settings.accent_color }}">
    
    <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value, shop: shop.name }}</title>
    
    {{ 'gift-card.css' | asset_url | stylesheet_tag }}
    {{ 'bold-currency-bootstrap.js' | asset_url | script_tag }}
    {{ 'lazysizes.min.js' | asset_url | script_tag }}
    
    {{ content_for_header }}
  </head>

  <body class="gift-card-template">
    <main role="main" id="MainContent">
      {{ content_for_layout }}
    </main>
  </body>
</html>