<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{{ 'index-DxdBfIqj.css' | asset_url }}">
    <script src="{{ 'index-DVkctk2V.js' | asset_url }}" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }} | {{ shop.name }}</title>
    <link rel="stylesheet" href="{{ 'index-DxdBfIqj.css' | asset_url }}">
    <script src="{{ 'index-DVkctk2V.js' | asset_url }}" defer></script>
    {{ content_for_header }}
</head>
<body class="bg-gray-50">
    <!-- En-tête -->
    {% section 'header' %}

    <!-- Bannière -->
    {% section 'banner' %}

    <!-- Contenu principal -->
    <main role="main">
        {{ content_for_layout }}
    </main>

    <!-- Pied de page -->
    {% section 'footer' %}

    {{ content_for_footer }}
</body>
</html>