<div class="container mx-auto px-4 my-8">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
    {% for product in collections['frontpage'].products %}
    <div class="bg-white rounded-xl shadow-sm hover:shadow-md p-4">
      <!-- Image produit -->
      <a href="{{ product.url }}">
        <img src="{{ product.featured_image | image_url: 'medium' }}" alt="{{ product.title }}" class="w-full object-cover rounded-lg">
      </a>

      <!-- Informations produit -->
      <h3 class="mt-4 text-lg font-bold text-gray-900">
        <a href="{{ product.url }}">{{ product.title }}</a>
      </h3>
      <div class="text-sm text-gray-500">{{ product.price | money }}</div>
    </div>
    {% endfor %}
  </div>
</div>